In [0]:
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

#Datasets Importing
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [0]:
test.head()

   Item_Weight  ...  Outlet_Type_Supermarket Type3
0       18.100  ...                              0
1        6.615  ...                              0
2       11.850  ...                              0
3       13.500  ...                              0
4       14.000  ...                              0

[5 rows x 36 columns]

In [0]:
# Dropping the Expected output column in Training Data
train_x = train.drop(columns=['Item_Outlet_Sales'],axis=1)

# Actual training Data Output
train_y = train['Item_Outlet_Sales']

train_x.head()

   Item_Weight  ...  Outlet_Type_Supermarket Type3
0     6.800000  ...                              0
1    15.600000  ...                              0
2    12.911575  ...                              1
3    11.800000  ...                              0
4    17.850000  ...                              0

[5 rows x 35 columns]

In [0]:
# Same Separation for Testing Data
test_x = test.drop(columns=['Item_Outlet_Sales'],axis=1)
test_y = test['Item_Outlet_Sales']

In [0]:
#creating model
model = LinearRegression()

# fit the model with the training data
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
print(model.__dict__)

{'fit_intercept': True, 'normalize': False, 'copy_X': True, 'n_jobs': None, 'coef_': array([-3.84197604e+00,  9.83065945e+00,  1.61711856e+01,  6.09197622e+01,
       -8.64161561e+01,  1.23593376e+02,  2.34714039e+02, -2.44597425e+02,
       -2.72938329e+01, -8.09611456e+00, -3.01147840e+02,  1.70727611e+02,
       -5.40194744e+01,  7.34248834e+01,  1.70313375e+00, -5.07701615e+01,
        1.63553657e+02, -5.85286125e+01,  1.04913492e+02, -6.01944874e+01,
        1.98948206e+02, -1.40959023e+02,  1.19426257e+02,  2.66382669e+01,
       -1.85619792e+02,  1.43925357e+03,  2.16134663e+02,  3.54723990e+01,
        3.54832996e+02, -5.54559635e+00, -3.49287400e+02, -1.39202954e+03,
       -2.57982359e+02, -9.59016062e+02,  2.60902796e+03]), '_residues': array([], dtype=float64), 'rank_': 31, 'singular_': array([2.31579513e+03, 3.04919312e+02, 1.57044726e+02, 2.94664795e+01,
       2.48063708e+01, 2.18012437e+01, 1.73598555e+01, 1.51529543e+01,
       1.38166324e+01, 1.29868622e+01, 1.20556320e+01, 1.13873233e+01,
       1.10945304e+01, 1.04062298e+01, 1.02484412e+01, 9.31781209e+00,
       9.01427113e+00, 8.81847714e+00, 8.14646936e+00, 6.37773601e+00,
       5.98717348e+00, 5.62767152e+00, 5.22855325e+00, 5.12838561e+00,
       4.92230445e+00, 4.27287444e+00, 4.02736363e+00, 3.76712515e+00,
       3.37650083e+00, 1.79747537e+00, 1.25210331e+00, 2.56607922e-13,
       2.56607922e-13, 2.56607922e-13, 2.56607922e-13]), 'intercept_': -121926.97473298332}

In [0]:
# y = mx + c

# m = coefficeints of the trained model
print('\nCoefficient of model :', model.coef_)

# c = intercept of the model
print('\nIntercept of model',model.intercept_)

Coefficient of model : [-3.84197604e+00  9.83065945e+00  1.61711856e+01  6.09197622e+01
 -8.64161561e+01  1.23593376e+02  2.34714039e+02 -2.44597425e+02
 -2.72938329e+01 -8.09611456e+00 -3.01147840e+02  1.70727611e+02
 -5.40194744e+01  7.34248834e+01  1.70313375e+00 -5.07701615e+01
  1.63553657e+02 -5.85286125e+01  1.04913492e+02 -6.01944874e+01
  1.98948206e+02 -1.40959023e+02  1.19426257e+02  2.66382669e+01
 -1.85619792e+02  1.43925357e+03  2.16134663e+02  3.54723990e+01
  3.54832996e+02 -5.54559635e+00 -3.49287400e+02 -1.39202954e+03
 -2.57982359e+02 -9.59016062e+02  2.60902796e+03]

Intercept of model -121926.97473298332

In [0]:
# model prediction
# predict the target on the test dataset
predict_train = model.predict(train_x)
print('\nItem_Outlet_Sales on training data',predict_train)

Item_Outlet_Sales on training data [ 803.88817641 1733.98835979 3294.52154482 ...  811.16967914 2343.96927185
 2444.98869913]

In [0]:
# Root Mean Squared Error on training dataset
rmse_train = mean_squared_error(train_y,predict_train)**(0.5)
# print('\nRMSE on train dataset : ', rmse_train)

# predict the target on the testing dataset
predict_test = model.predict(test_x)
# print('\nItem_Outlet_Sales on test data',predict_test) 

# Root Mean Squared Error on testing dataset
rmse_test = mean_squared_error(test_y,predict_test)**(0.5)
# print('\nRMSE on test dataset : ', rmse_test)
import numpy as np
from sklearn.metrics import accuracy_score
# Checking for Accuracy Score
# test_y1 = pd.Series.to_numpy(test_y)
print(type(test_y))

# acc = accuracy_score(test_y,test_y)
# print("Accuracy of the model is : "+acc)

<class 'numpy.ndarray'>